{% extends "base.twig" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form action="addBooking" method="post">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" placeholder="John Doe" class="form-control">
                </div>
                <div class="form-group">
                    <label for="numberOfPeople">Number of people: </label>
                    <input type="number" name="numberOfPeople" placeholder="1-7" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">E-mail: </label>
                    <input type="email" name="email" placeholder="JohnDoe@email.com" class="form-control">
                </div>
                <div class="form-group">
                    <label for="dateFrom">Select first day: </label>
                    <input type="date" name="dateFrom" class="form-control">
                </div>
                <div class="form-group">
                    <label for="dateTo">Select last day: </label>
                    <input type="date" name="dateTo" class="form-control">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}