<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    {% block head %}
        <title>{% block title %}{% endblock %} - FooCar Rental</title>
    {% endblock %}
</head>
<body>
<div id="content">
    {% if response.message is not null %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 {% if response.success %}alert alert-success{% else %} alert alert-danger {% endif %}">{{ response.message }}</div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12"><h1 class="text-center"><a href="/">FooCar Rent-a-Car</a></h1></div>
    </div>
    {% block content %}{% endblock %}
</div>
<div id="footer">
    <div class="row">
        {% block footer %}
            <div class="col-md-12">
                <h4 class="text-center">&copy; Copyright 2017 by <a href="https://www.tijsvanraaij.nl/foocar">FooCar DmmyCorp Ltd</a>.</h4>
            </div>
        {% endblock %}
    </div>
</div>
</body>
</html>