
<div id="content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 {% if response.success %}alert alert-success{% else %} alert alert-danger {% endif %}">{{ response.message }}</div>
    </div>
    <div class="row">
        <div class="col-md-12"><h1 class="text-center"><a href="/">FooCar Rent-a-Car</a></h1></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>Congratulations {{ name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p>You have just successfully booked a rental car. The car has been booked for you between {{ dateFrom }} and {{ dateTo }}.
                If you need any additional information or assistance you can contact us at through <a href="mailto:booking@foorcar.tijsvanraaij.nl">e-mail</a>.</p>
            <p>Kind regards,</p>
            <p><h3>FooCar Rental</h3></p>
        </div>
    </div>
</div>
